body {
  font-family: "Roboto Mono", monospace, "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}
.container {
  display: flex;
  flex-flow: column;
  max-width: 900px;
  margin: auto;
  padding: 0 20px;
}
h1,
h2,
h3 {
  color: #0056b3;
  position: relative;
  cursor: default;
  transition: color 0.5s ease;
}
p,
li {
  font-size: 16px;
  line-height: 1.6;
}
ul {
  margin: 0;
  padding: 0;
  list-style-position: inside;
}
h1 {
  text-align: center;
}
/* Initial visibility for h1 spans */
h1 span {
  display: inline-block;
  opacity: 1;
  transform: translateX(0);
}
/* Animated border bottom for h2 and h3 */
h2::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0%;
  height: 2px;
  background: linear-gradient(90deg, #6e45e2, #88d3ce);
  transition: width 0.5s ease;
}
h2:hover::after {
  width: 100%;
}
/* Text animation on hover for h1 */
h1 span {
  animation: slideIn 0.5s forwards;
  animation-delay: calc(0.1s * var(--i));
}
h3 {
  color: #0056b3;
}
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.job-description li {
  margin-bottom: 10px;
  margin-left: 20px;
}
.header-icons {
  display: flex;
  gap: 10px;
  align-items: center;
}
.header-icons a {
  text-decoration: none;
}
#experience {
  background-color: #e8e8e8;
  padding: 20px;
  margin-top: 50px;
}
#contact-me {
  display: flex;
  text-align: center;
  flex-flow: column;
  align-items: center;
}
#contact-me h2 {
  width: 100%;
  margin-top: 2em;
  margin-bottom: auto;
}
section {
  margin: 10px;
}

.dark-mode {
  background-color: #1d1d1d;
  color: #fff;
}

/* Soft shade of white for headers in dark mode */
.dark-mode h1,
.dark-mode h2,
.dark-mode h3 {
  color: #ffd700; /* Soft shade of white */
}

.dark-mode #experience {
  background-color: #444343;
}

.dark-mode h2::after {
  background: linear-gradient(
    90deg,
    #ffd700,
    #ffffff
  ); /* Transition from yellow to white */
}

#dark-mode-toggle {
  position: fixed;
  top: 40px; /* Adjust top position as needed */
  right: 40px; /* Adjust right position as needed */
  width: 5em;
}
#dark-mode-text {
  margin-bottom: 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #0056b3;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  transform: translateX(45px);
}

/* Adjust styling for dark mode */
.dark-mode #dark-mode-toggle #toggle-dark-mode:checked + .slider {
  background-color: #525252; /* Dark red background in dark mode */
}

.dark-mode #dark-mode-toggle #toggle-dark-mode:checked + .slider:before {
  background-color: #ffd700; /* Yellow color for slider in dark mode */
}

/* Position the SVGs */
#night-mode-svg,
#day-mode-svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

#night-mode-svg {
  left: 8px;
  display: none; /* Initially hide night mode SVG */
}

#day-mode-svg {
  right: 8px;
}

/* Show night mode SVG when dark mode is enabled */
.dark-mode #night-mode-svg {
  display: block;
}

/* Show day mode SVG when dark mode is disabled */
.dark-mode #day-mode-svg {
  display: none;
}

/* Change color of the night mode SVG */
#night-mode-svg path {
  fill: #ffd700; /* Yellow color */
}

/* Change color of the day mode SVG */
#day-mode-svg circle {
  fill: #0056b3; /* Yellow color */
}

#day-mode-svg line {
  stroke: #0056b3; /* Yellow color */
}

/* PDF Generation Adjustments */
@media print {
  .pdf-generation {
    /* Disable animations */
    h1 span,
    h2::after {
      animation: none !important;
      opacity: 1 !important;
      transform: none !important;
    }

    /* Remove dark mode styles */
    .dark-mode,
    .dark-mode h1,
    .dark-mode h2,
    .dark-mode h3,
    .dark-mode #experience,
    .dark-mode h2::after,
    .dark-mode #dark-mode-toggle #toggle-dark-mode:checked + .slider,
    .dark-mode #dark-mode-toggle #toggle-dark-mode:checked + .slider:before,
    #night-mode-svg,
    #day-mode-svg {
      /* Override dark mode specific styles as needed */
      background-color: initial !important;
      color: initial !important;
    }

    /* Hide elements not needed in PDF */
    #dark-mode-toggle,
    .switch,
    #night-mode-svg,
    #day-mode-svg {
      display: none !important;
    }
  }
}
